:root {
    --red: #b00;
    --blue: #00b;
    --fullwidth: 100%;
    --v-theme-primary: "#313653"
}

@font-face {
    font-family: 'mulish';
    src: url('public/assets/fonts/mulish/Mulish-VariableFont_wght.ttf') format('truetype'),
}

body{
    font-family: 'mulish', Fallback, sans-serif; 
    p, a{
        font-weight: 600;
    }
    .v-btn__content{
        font-weight: 800;
        text-decoration: none;
        text-transform: capitalize;
        &:hover{
            text-decoration: none;
        }
    }
}

.mulish {
    font-family: 'mulish', Fallback, sans-serif;
}

.juega-text-field {
    border-radius: 3px;
}

.regular{
    font-weight: 400;
}

.semibold{
    font-weight: 600;
}

.bold{
    font-weight: 800;
}

.capitalize {
    text-transform: capitalize;
}

.no-text-decoration{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}